<div class="footer d-flex justify-content-right align-items-center">
  <div class="footer-socials">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fas fa-envelope-square"></i>
  </div>
</div>
