<div class="footer d-flex justify-content-between align-items-center">
  <div class="d-flex justify-content-right align-items-center p-2">
    <p id="footer-left">Made with <i class="fas fa-heart"></i> by Joseph Rohde</p>
  </div>
  <div class="footer-socials p-2">
    <a href="https://www.instagram.com/photojoe0/" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/DittoJoe" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/joseph-james-rohde/" target="blank"><i class="fab fa-linkedin"></i></a>
    <a href="mailto: joseph.jf.rohde@gmail.com" target="blank"><i class="fas fa-envelope"></i></a>
  </div>
</div>
