<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path "bubblet.jpg" %>);">
  <div class="home-container">
    <h1 class="p-3">Do you love bubble tea? So do we!</h1>
    <p class="p-3">That's why we made it easy for you to find your new fave.</p>
  </div>
  <div class="home-container">
    <p>Pick a city below to get started:</p>
    <div class="d-inline-flex justify-content-around w-50">
      <a class="btn btn-city">Stockholm</a>
      <a class="btn btn-city">...more to come!</a>
    </div>
  </div>
</div>
