<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path "bubblet.jpg" %>);">
  <div class="home-container">
    <h1 class="py-3">Love bubble tea? So do we!</h1>
    <p class="py-3">That's why we made it easy for you to find your new fave.</p>
  </div>
  <div class="home-container">
    <div class="home-buttons">
      <%= link_to "Get started", shops_path, class: "btn btn-city" %>
    </div>
  </div>
</div>
