<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path "bubblet.jpg" %>);">
  <div class="home-container" style="">
    <h1>Do you love bubble tea? So do we!</h1>
    <p>That's why we made it easy for you to find it in your city.</p>
    <a class="btn btn-city">Stockholm</a>
  </div>
</div>
