.banner {
  background-size: cover;
  background-position: center;
  padding: 10vh 0;
  width: 100%;
  height: 100%;
  h1 {
    margin: 0;
    color: $cream;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 4vh;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
  }
  p {
    font-size: 3vh;
    color: $cream;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
