.footer {
  width: 100%;
  background-color: $purple;
  font-size: 16px;
  margin: auto;
  padding: 0 24px;
  position: fixed;
  bottom: 0;
}

.footer-socials {
  margin-left: 16px;
  font-size: 24px;
  i {
    padding: 0 8px;
  }
}

.footer-socials :hover {
  color: $lavender;
}

#footer-left {
  margin-bottom: 0;
  margin-right: 16px;
  color: $cream;
}
