#create {
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 8px;
  margin-bottom: 3rem;
  opacity: 0.9;
  background-color: $purple;
  color: $cream;
  font-size: 2vh;
  h2 {
    text-align: center;
    margin-bottom: 4vh;
    font-size: 3.5vh;
  }
}

#create-form {
  padding-top: 8px;
  padding-bottom: 8px;
 }

.form-control {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid rgb(40, 40, 40);
}

.form-group {
  margin-bottom: 2.4vh;
}

#img-back {
  background-size: contain;
}

.br-widget {
  display: flex;
  justify-content: center;
}

.modal-content {
  border-radius: 8px;
}

.modal-backdrop {
  opacity: 0.6 !important;
}

.modal-header {
  border-bottom: 0;
}

.modal-body {
  padding-bottom: 0;
}

.br-theme-css-stars .br-widget a {
  font-size: 24px !important;
}

.br-theme-fontawesome-stars-o .br-widget a.br-active:after {
    color: #555;
}

.br-theme-css-stars .br-widget a.br-selected::after {
  color: $purple !important;
}

label {
  margin-bottom: 1.3vh;
}

.text-muted {
  color: $lavender !important;
}

