.navbar {
  justify-content: space-between;
  background: $purple;
  padding: 0 24px;
  height: 8%;
}

.navbar h1 {
  font-family: 'Comfortaa', cursive;
  color: $cream;
  font-size: 52px;
  margin-bottom: 0;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}


.navbar-light .navbar-nav .nav-link {
  color: $cream;
  margin-right: 22px;
  font-size: 18px;
  transition: 300ms;
  border-bottom: 1px solid transparent;
}


.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
 color: $cream;
 border-color: $cream;
}

.navbar-mobile {
  position: fixed;
  bottom: 0;
  justify-content: center;
  min-width: 100%;
  height: 12.5%;
}

.footer-buttons {
  margin: 8px 16px;
}

.footer-icon {
  display: flex;
  justify-content: center;
}

.footer-text {
  margin-top: 8px;
  color: $cream;
  font-size: 10px;
  text-align: center;
}

@media(max-width: 768px) {
  .navbar-bubble {
    justify-content: center;
  }

  .footer {
    display: none !important;
  }
}
